.button{
    font-family: inherit;
    padding: 1rem 30px;
    cursor: pointer;
    color: #FFF;
    font-weight: 700;
    font-size: 1.3rem;
    background-color: #000;
    border-radius: 25px;
    width: 130px;
    position: relative;
    z-index: 2;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;

}

.button a{
    color: inherit;
}

.button a::after{
    display: inline-block;
    content: "";
    color: #FFF;
    background-image: url('../img/Polygon\ 1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 1.2rem;
    height: 1rem;
    width: 0.6rem;
}
.button a:visited{
    color: #FFF;
}
.button.orange{
    background-color: #EBBD90;
    border: none;
    text-align: center;
    padding: 10px 10px;
    margin-top: 0;
}

.button.addCart{
    background-color: #EBBD90;
    font-size: 1.1rem;
    width: auto;
    margin: 0;
    border: none;
    text-align: center;
    padding: 15px 45px;
}

@media  screen and (max-width: 1300px) {
    .button.orange{
        font-size: .9rem;
    }
    

    .button.addCart{
        font-size: .9rem;
    }
}