.header{
    display: flex;
    height: 112px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    color: #91A8D1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header .logo{
    cursor: pointer;
}

.nav-bar{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.nav-bar a{
    color: inherit;
}

#search{
    width: 200px;
    background: url('../img/search-icon.png') no-repeat scroll 7px 7px;
    background-position: 95%;
    background-color: #EDEDED;
    color: #909090;
    padding: 10px 30px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    border: none;
    resize: none;
    border-radius: 15px;
}

.mobile-menu{
    display: none;
}

@media  screen and (max-width: 1300px) {
    .header{
        justify-content: space-evenly;
    }

    .header .logo img{
        width: 148px;
    }

    .header .logo.active{
        display: block;
        position: fixed;
        z-index: 25;
    }
    
    .nav-bar{
        display: none;
    }
    #search{
        display: none;
    }
    .mobile-menu{
        display: flex;
        background-color: transparent;
        border: none;
        background-image: url('../img/menu-icon.svg');
        background-position: center;
        background-repeat: no-repeat;
        width: 25px;
        height: 20px
    }

    .mobile-menu.active{
        z-index: 25;
        background-image: url(../img/close-icon.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px 25px;
        display: block;
        position: fixed;
        left: 0;
        margin: 0 2rem;
    }

    .nav-bar.active{
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #FFF;
        z-index: 10;
        padding-top: 12rem;
    }

    .nav-bar.active li{
        padding: 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.25);
    }

    #search.active{
        display: block;
        position: fixed;
        z-index: 10;
        top: 120px;
    }
}