.maisVendidos-section{
    margin-top: 70px;
}

.products-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 70px 0px 140px;
    
}


@media  screen and (max-width: 1300px) {
    .maisVendidos-section .product-item{
        margin-left: .25rem;
    }
}