.section-title{
    margin-left: auto;
    margin-right: auto;
    font-size: 1.9rem;
    width: max-content;
    color: #EFC392;
    font-weight: 700;
    text-align: center;
    padding: 0px 10px 10px;
    border-bottom: 3px solid #EFC392;
}

@media  screen and (max-width: 1300px) {
   .section-title{
    font-size: 1.4rem;
   }

}